# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures/
output.json
*.apk
*.aab

# Firebase config
app/google-services.json
firebase.json

# Log files
*.log

# Kotlin build
/build/
